.jumbotron{
    text-align: center;
    background-color: #000000!important;
}
h1{
	color: #FFFF00!important;
}
body{
    background-color: #99FF66!important;
}
form{
	text-align: center;
	background-color: ##99FF66!important;
}
span{
	color: #FFFF00!important;
}
